

a:hover {
	color: black;
}

h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:black;
}

p {
	padding:10px;
}

body {
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

div#broadcast {
	background-color: #FFE599;
}

.hidden{
    display: none;
}

/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance:textfield;
}
/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* change colors of the top nav*/

.btn {
  text-transform: uppercase;
  padding: (@padding - 0.5) @padding;
  font-weight: bold;
 
  .round-corners;
  .transition;
}

.btn:hover {
  .transition;
}


.btn-success {
  background-color: @green;
  border-color: @green;
}

.btn-success:hover {
  background-color: @green2;
  border-color: @green2;
}

.nav-white {
	background-color: white;
}

.nav-black {
	background-color: black;

}

.nav-yellow {
	background-color: #FFE599;
}

.nav-cyan {
	background-color: #A2C4C9;
}

.nav-green {
	background-color: #B6D7A8;
}
.nav-pink {
	background-color: #D5A6BD;
}

.nav-red {
	background-color: #CF2A27;
}

.nav-blue {
	background-color: #9FC5F8;
}